@use "variables" as custom-var;

.login-background {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  background-image: linear-gradient(to bottom right, rgb(42, 206, 201), rgb(10, 113, 168));
}

.login-box-wrapper {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  .login-box {
    background-color: rgba(255, 255, 255, 0.382);
    box-shadow: 0 0 20px 0 rgba(31, 113, 147, 0.5);
    padding: 24px 0;

    .title {
      color: #FFFFFF;
      font-size: 32px;
      line-height: 1;
    }

    .message {
      margin: 10px 0;
      color: #FFFFFF;
      font-size: custom-var.$font-size-base;
      line-height: 1.8;
      overflow: hidden;
      transition: all .2s;

      &.slight-emphasize {
        background-color: rgba(31, 88, 134, 0.4);
      }
      
      &.emphasize {
        background-color: rgba(236, 127, 1, 0.8);
      }

      &.hidden {
        opacity: 0;
        line-height: 0;
      }
    }

    .input-area {
      position: relative;
      margin: 0 auto;

      @media screen and (max-width: 350px) {
        width: calc(100% - 15px);
      }

      .input-box-area {
        overflow: hidden;
        transition: all .2s;

        &.hidden{
          opacity: 0;
        }
      }

      button {
        margin-top: 5px;
        width: 100%;
        max-width: 320px;
        height: 36px;
        border: 0;
        background-color: #fff;
        transition: all .2s;
      }
    }
  }
}

.extra-message {
  margin: 8px;
  color: #FFFFFF;
  font-size: custom-var.$font-size-base;
}

.extra-message:first-of-type {
  margin-top: 12px;
}

.line-activate {
  width: 100%;
}