button {
    padding: 1px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(31, 113, 147, 0.5);
}

.div-header {
    height: 90px;
    padding: 5px 0 5px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
}

.font-login-title {
    margin: 12px 0;
    font-size: 28px;
}

.font-title {
    font-size: 24px;
    padding: 10px 0 10px 0;
    margin: 10px 0;
}

.font-main-component-title {
    font-size: 20px;
    padding: 0;
    margin: 15px 0;
    text-align: left;
}

.font-normal-text, .float-normal-text-left-align, .float-normal-text-right-align {
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
}

.float-normal-text-left-align {
    float: left;
    overflow: auto;
}

.float-normal-text-right-align {
    float: right;
    overflow: auto;
}

.font-warning-text {
    font-size: 16px;
    margin: 10px 0;
    color: #E50C0C;

    text-align: left;
}

.font-pass-text {
    font-size: 16px;
    margin: 10px 0;
    color: forestgreen;

    text-align: left;
}

.div-main-background {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    background-image: linear-gradient(#29D4CB, #1F97BB);
}

.div-router-view {
    top: 105px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    overflow: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

.div-main-content {
    height: auto;
    width: 96%;
    padding: 0 0 40px 0;
    margin: 0 auto;
}

.div-normal-content {
    width: 96%;
    margin: 0 auto;
}

.div-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 9px 0 6px 0;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    color: #FFFFFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25) 38%, rgba(0, 0, 0, 0.5));
}

.div-nav {
    padding: 0 0 10px 0;
}

.div-nav a {
    font-weight: bold;
    color: #2c3e50;
}

.div-nav a.router-link-exact-active {
    color: #1F9330;
}

.div-full {
    width: 100%;
}

.span-main-component-line {
    height: 2px;
    width: 100%;

    display: block;
    margin: 15px 0;

    border: none;
    background-color: rgba(31, 113, 147, 0.5);
}

.span-small-component-line {
    height: 1px;
    width: 100%;

    display: block;
    margin: 5px 0;

    background-image: linear-gradient(to right, rgba(31, 113, 147, 0.5) 0, rgba(31, 113, 147, 0.5) 50%, transparent 50%);
    background-size: 8px 1px;
    background-repeat: repeat-x;
    border: none;
}

.table-content, .table-content-special {
    width: 100%;
    margin: 10px auto;
    font-family: "阿里巴巴普惠体 Regular", "Microsoft YaHei UI", sans-serif;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
}

.table-content td, .table-content th, .table-content-special td, .table-content-special th {
    border: 1px solid rgba(188, 205, 210, 0.8);
    padding: 8px;
}

.table-content tr:nth-child(even), .table-content-special tr:nth-child(even) {
    background-color: rgb(235, 245, 248);
}

.table-content tr:hover {
    background-color: rgba(127, 127, 127, 0.146);
}

.table-content-special td:hover {
    background-color: rgba(127, 127, 127, 0.146);
}

.table-content thead, .table-content-special thead {
    background-color: rgb(195, 237, 249);
}